@import '../utils/colors.scss';

.mainPageStyle {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: $APP_BACKGROUND;
}
.mainPageHeader{
    display: flex;
    flex-direction: column;
    color: white;
}